<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>The Canadian OpenStack Users Group</title>
<meta name="description" content="Canadian OpenStack Users Group"/>
<meta name="keywords" content="openstack,canada,linux,ubuntu,redhat"/>
<!--CSS FILES STARTS-->
<link rel="shortcut icon" type="image/gif" href="/images/favicon.png"/>
<link rel="stylesheet" href="/css/prettyPhoto.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/css/nivo-slider.css" type="text/css" media="screen"/>
<link rel="stylesheet" id="skins-switcher" href="/css/style.css" type="text/css" media="screen"/>
<!--GOOGLE FONTS-->

<link href='http://fonts.googleapis.com/css?family=Crimson+Text:regular,regularitalic,600,600italic,bold,bolditalic' rel='stylesheet' type='text/css'/>

<!--GOOGLE FONTS-->
<!--JS FILES STARTS-->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/slides/slides.min.jquery.js"></script>
<script type="text/javascript" src="/js/cycle-slider/cycle.js"></script>
<script type="text/javascript" src="/js/nivo-slider/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="/js/tabify/jquery.tabify.js"></script>
<script type="text/javascript" src="/js/prettyPhoto/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/js/twitter/jquery.tweet.js"></script>

<script type="text/javascript" src="/js/scrolltop/scrolltopcontrol.js"></script>
<script type="text/javascript" src="/js/portfolio/filterable.js"></script>
<script type="text/javascript" src="/js/modernizr/modernizr-2.0.3.js"></script>
<script type="text/javascript" src="/js/easing/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/kwicks/jquery.kwicks-1.5.1.pack.js"></script>
<script type="text/javascript" src="/js/swfobject/swfobject.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38504904-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<style type="text/css">
.blog-body-images img { width:100% }
</style>


</head>
<body>
<div id="wrapper">
	<div class="center">
		<div id="container">
			<!--WRAPPER-->
			<div id="header">
				<!-- HEADER  -->
				<!-- LOGO -->
				<a id="logo" title="Homepage" href="/index.html"><img src="/images/logo.png" alt=" " width="300" height="60"/></a>
				<!--LOGO ENDS  -->
				 		<div id="main_navigation" class="main-menu ">
					<!--  MAIN  NAVIGATION-->
					<ul>
						<li><a href="http://canstack.ca">Main Website</a></li>
						<li><a href="http://blog.canstack.ca">Blog</a></li>
						<li><a href="http://twitter.com/canstack">Twitter</a></li>
						<li><a href="http://www.meetup.com/Canadian-OpenStack-Users-Group/">Meetup Group</a></li>
						<li><a href="http://blog.canstack.ca/atom.xml">RSS Feed</a></li>
						<li><a href="irc://irc.freenode.com/canstack">IRC</a></li>

						<li><a href="http://github.com/canstack">Github</a></li>
						
					</ul>
				</div>
				<!-- MAIN NAVIGATION ENDS-->
﻿
				 
			</div>
			<!-- HEADER ENDS-->
			<!-- MAIN CONTAINER -->
			<div id="content">	<!-- COLUMNS CONTAINER STARTS-->
		
				<div class="intro-pages">
				<!-- INTRO DIV STARTS-->
        
		 	<H3>Welcome to the CanStack <span class="colored">Blog!</span></H3>
				</div>
				<!-- INTRO ENDS-->
		<!-- COLUMNS CONTAINER ENDS-->
        
					<div class="one">
						<h1>Posts</h1>
						<div class="inner-content">

							{{ content }}

						</div>


				</div>
				 ﻿
			
				<div id="footer-wrapper">
					<!-- FOOTER WRAPPER STARTS-->
					<div id="footer-container">
						<!-- FOOTER CONTAINER STARTS-->
						<div id="footer">
							<!-- FOOTER STARTS-->
							<div class="one">
								<!-- COLUMN CONTAINER STARTS-->
								<div class="one-fourth">
									<!-- COLUMN STARTS-->
									<h4>About CanStack</h4>
									<p>
										 The Canadian OpenStack Users Group, or CanStack, is passionate about working together across Canada to help make the OpenStack project a success. 
									</p>
									<p>

										 Supported by <a href="http://canstack.ca">Cybera</a>, we help members by organizing <a href="http://www.meetup.com/Canadian-OpenStack-Users-Group/">meetups</a> and providing remote video and audio conferencing capabilities.
									</p>
								</div>
								<!-- COLUMN ENDS-->
										<div class="one-fourth last">
									<!-- COLUMN STARTS-->
									<h4>Latest Tweets</h4>
									<div class="tweet">
									</div>
								</div>
								<!-- COLUMN ENDS-->

								<div class="one-fourth">
									<!-- COLUMN STARTS-->
									<div >
										<a href="http://www.openstack.org" style="text-decoration:none;color:#000000">
											<img src="http://c0179577.cdn1.cloudfiles.rackspacecloud.com/learn-about-openstack-badge.png" alt="openstack badge" /></a>
									</div>
								
								</div>
								<!-- COLUMN ENDS-->
								<div class="one-fourth">
									<!-- COLUMN STARTS-->
									<h4>Stay in Touch</h4>
									<ul class="social-links">
										<!-- SOCIAL LINKS STARTS-->
						
										<li><img src="/images/icons/twitter.png" width="16" height="16" alt="#"/><a href="http://twitter.com/canstack">Follow us on Twitter</a></li>
										<li><img src="/images/icons/meetup.png" width="16" height="16" alt="#"/><a href="http://www.meetup.com/Canadian-OpenStack-Users-Group/">Our meetup group</a></li>
									</ul>
									<!-- SOCIAL LINKS ENDS-->
								</div>
								<!-- COLUMN ENDS-->
								
						
							</div>
							<!-- COLUMN CONTAINER ENDS-->
						</div>
						<!-- FOOTER ENDS-->
					</div>
					<!-- FOOTER CONTAINER ENDS-->
				</div>
				<!-- FOOTER WRAPPER ENDS-->
				<div id="copyright-wrapper">
					<!-- COPYRIGHTS WRAPPER STARTS-->
					<div id="copyright">
						<a class="footer-logo" title="Homepage" href="#"><img src="/images/logo-bottom.png" alt=" " width="185" height="50"/></a>
						<a class="footer-logo" title="Homepage" href="http://cybera.ca"><img src="/images/cybera-logo-white.png" alt=" " width="185" height="50"/></a>
						<div class="right">
							<p>
								The <a href="http://canstack.ca">CanStack</a> website is hosted in a Canadian OpenStack <br />cloud
								and the <a href="http://blog.canstack.ca">blog</a> is served via Amazon S3 object storage.
							</p>
							
						</div>
					</div>
					<!-- COPYRIGHTS ENDS-->
				</div>
				<!-- COPYRIGHTS WRAPPER ENDS-->
			</div>
	</div>
</div>
</body>
<!--BODY ENDS  -->
</html>
<!--HTML ENDS  -->